body {
  font-size: 1.75em;
}

a {
  text-decoration: none;
}

.header {
  margin-top: 2rem;
  text-align: center;
}

/* navbar styles */
.nav-bar {
  margin: 0;
  padding: 0;
}

.nav-bar ul {
    margin: 0;
    padding: 0;
}

.nav-bar li {
    display: inline;    
}

.nav-bar li:first-child{
  padding: 0;
}

.nav-bar .nav-item {
  padding-left: 20px;
  text-decoration: none;
}

/* Project Card Styles */
.card {
  display: inline-block;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
  margin: 20px;
  position: relative;
  margin-bottom: 50px;
  transition: all .2s ease-in-out;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  
}

.image:hover,
.card:hover .image {
  opacity: 1;
}

.text {
  background: #FFF;
  padding: 20px;
}

.text p {
  margin-bottom: 0px;
}

.card .lnk-button{
  padding: 20px;
}

.project-image{
  margin: 15px;
}

.project-image img {
  padding: 4px;
  background-color: darkgray;
}