<section class="header">
    <h2 class="title">Marshall Hauser</h2>
    <h5>Welcome to all things brewhausse.</h5>
    <h6>(warning: this site is always under construction)</h6>
    <hr />
    <ul class="nav-bar">
        <li class="nav-item"><a href="/">BREWHAUSSE</a></li>
        {{!-- <li class="nav-item"><a href="/about">ABOUT</a></li> --}}
        {{!-- <li class="nav-item"><a href="/projects">PROJECTS</a></li> --}}
        <li class="nav-item"><a href="/contact">CONTACT</a></li>
    </ul>
    <hr />
</section>