<div class="card u-max-full-width">

  <div class="image">
    <img src="{{imageUrl}}" class="u-full-width">
  </div>

  <div class="text u-max-full-width">
    <h3>{{title}}</h3>
    <p>{{short}}</p>
  </div>

  <div class="lnk-button">    
    <a class="button u-pull-right" href="/projects/{{id}}">View</a>
  </div>

</div>