<div class="card">
  <div class="row">
    <div class="five columns">
      <div class="card-image u-pull-left">
        <img src="{{imageUrl}}">
      </div>
    </div>
    <div class="seven columns">
      <div class="card-stack">
        <div class="row">
          <div class="twelve columns">
            <div class="card-title">
              <h5>{{title}}</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            <div class="card-content">
              <p>{{short}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  