<div class="row">
  <div class="six columns">
    <div class="row card">
      <div class="five columns card-image">
        <div class="u-pull-left">
          <img src="{{imageUrl}}">
        </div>
      </div>
      <div class="seven columns">
        <div class="row">
          <div class="twelve columns">
            <h5>{{title}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            <p>{{short}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>