<div class="card u-full-width">

  <div class="image">
    <img src="{{imageUrl}}" width="100%">
  </div>

  <div class="text">
    <h3>{{title}}</h3>
    <p>{{short}}</p>
  </div>

  <div class="lnk-button">
    <input class="u-pull-right" type="button" value="View">
  </div>

</div>