<h4>What is brewhausse?</h4>
<p>I'm not really sure as of yet.  But i like to think of it as a little play space on the web 
  for posting some of my projects.</p>

<p>For example, I've been wanting to branch out of my daily .NET routine and learn more about
  how to develop a Node.js app.  I soon discovered Express.js and how easy it is to setup a 
  lightweight and really useful webserver.  So I set off to build this little site to learn more about 
 how to actually develop on this platform.
</p>

<p>Brief summary of tech used: <br />I'm using handlebars.js to render my views and express.js to serve up the pages.  All of 
  this is running inside a Docker container.  I'll talk more about that later...
</p>