<section id="project" class="u-full-width">
    <div class="container">
        {{#with project}}
       <div class="row">
           <div class="twelve columns">
               {{{html}}}
           </div>
       </div>
       {{/with}}
    </div>
</section>
<div class="u-cf"></div>