<section id="projects" class="u-full-width">
    <div class="container">
    {{#everyNth projects 2}} 
        {{#if isModZeroNotFirst}}
        </div>
        {{/if}}

        {{#if isModZero}}
        <div class="row">
        {{/if}}

        <div class="six columns">
            {{> project-card}}
        </div>
        
        {{#if isLast}}
        </div>
        {{/if}} 
    {{/everyNth}}
    </div>
</section>
<div class="u-cf"></div>